
@model MVC_ReviewSiteProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Review</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">

                <img src="" alt="">
                <div class="caption">
                    @*<h3>@Html.DisplayNameFor(model => model.Title):</h3>*@
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                    @*<h3>@Html.DisplayNameFor(model => model.Rating)</h3>*@
                    <h2>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h2>
                    <h3>@Html.DisplayNameFor(model => model.Category.Name):</h3>
                    <p>@Html.DisplayFor(model => model.Category.Name)</p>
                    <h3>@Html.DisplayNameFor(model => model.Description)</h3>
                    <p>@Html.DisplayFor(model => model.Description)</p>
                    <h3>@Html.DisplayNameFor(model => model.Date)</h3>
                    <p>@Html.DisplayFor(model => model.Date)</p>

                </div>
            </div>
        </div>
    </div>


</div>

@*<div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
